[submodule "musl"]
	path = musl
	url = https://github.com/elide-tools/musl.git
	ignore = dirty
	shallow = true
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
	ignore = dirty
	shallow = true
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
	shallow = true
[submodule "zlib"]
	path = zlib
	url = https://github.com/cloudflare/zlib.git
	ignore = dirty
	shallow = true
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/elide-tools/sqlite.git
	ignore = dirty
	shallow = true
[submodule "musl-cross-make"]
	path = musl-cross-make
	url = https://github.com/elide-tools/musl-cross-make.git
	shallow = true
	ignore = dirty
[submodule "capnp"]
	path = capnp
	url = https://github.com/capnproto/capnproto.git
	ignore = dirty
	shallow = true

