name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: "ci-main-${{ github.ref }}"
  cancel-in-progress: false

env:
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    name: "Toolchain"
    uses: ./.github/workflows/job.build.yml
