name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: "Build Toolchain"
    runs-on: ubuntu-latest
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
          fetch-depth: 1
          persist-credentials: false
      - name: "Build: Toolchain"
        run: ./build.sh
